<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/fonts.css" />
		<%- meta %> <%- styles %>
	</head>

	<body>
		<script>
			window.__INITIAL_QUERY_DATA__ = <%- data %>
		</script>
		<div id="root"><%- app %></div>
		<div id="lightbox-root"></div>
		<%- js %>
	</body>
</html>
